<!DOCTYPE html>
<html lang="en">
<!-- default header -->

<head th:replace="/fragments/header.html :: header(${pageTitle})"> </head>

<!-- more attribute -->

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <!--nav-->
  <section th:replace="/fragments/navbar.html :: navbar()"></section>

  <!--new order-->
  <div th:if="${isAdmin}" class="row justify-content-center text-center my-2">
    <div class="col-md-8 col-lg-6">
      <div class="header">
        <h2>[[${pageTitle}]]</h2>
      </div>
      <div class="m-2">
        <a class="btn btn-lg btn-primary" th:href="@{/admin/products/new}"> Add New Product </a>
      </div>
    </div>
  </div>

  <!--search-->
  <div class="container">
    <div class="container">
      <form th:action="@{/admin/products}" class="d-flex my-4">
        <input name="keyword" class="form-control me-sm-2" type="search" placeholder="Search" th:value="${keyword}" required />
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-secondary m-2 my-sm-0" type="button" onclick="clearSearch()">Clear</button>
      </form>
    </div>
  </div>


  <!--footer-->
  <footer th:replace="/fragments/footer.html :: footer()"></footer>

  <!-- script -->
  <script type="text/javascript">
    function clearSearch() {
      window.location = "[[@{/admin/products}]]";
    }
  </script>
</body>

</html>