<section th:fragment="navbar()" id="header">
  <a th:href="@{${isAdmin} ? '/admin' : '/home'}">
    <img th:src="@{/img/main_logo.png}" alt="" class="logo" />
  </a>

  <div>
    <ul id="navbar">
      <li>
        <a th:href="@{${isAdmin} ? '/admin' : '/home'}" th:text="#{pet.html.header.navbar.home}"
           th:classappend="${tabHome} ? 'active' : ''"></a>
      </li>
      <li th:if="${isAdmin != true}">
        <a th:href="@{/search}" th:text="#{pet.html.header.navbar.search}"
           th:classappend="${tabSearch} ? 'active' : ''"></a>
      </li>
      <li th:if="${isLogin and isAdmin == false}">
        <a th:href="@{/cart}" th:text="#{pet.html.header.navbar.cart}" th:classappend="${tabCart} ? 'active' : ''"></a>
      </li>
      <li th:if="${isLogin and isAdmin == false}">
        <a th:href="@{/history}" th:text="#{pet.html.header.navbar.history}"
           th:classappend="${tabHistory} ? 'active' : ''"></a>
      </li>
      <li th:if="${isLogin and isAdmin == false}">
        <a th:href="@{/user-info}" th:text="#{pet.html.header.navbar.userInfo}"
           th:classappend="${tabCart} ? 'active' : ''"></a>
      </li>
      <li th:if="${isLogin and isAdmin == false}">
        <a th:href="@{/about}" th:text="#{pet.html.header.navbar.about}"
           th:classappend="${tabCart} ? 'active' : ''"></a>
      </li>
      <li th:if="${isLogin}">
        <a href="javascript: document.logoutForm.submit()" th:text="#{pet.html.header.navbar.logout}"></a>
      </li>
      <li>
        <a href="/login">Login/Register</a>
      </li>
    </ul>
  </div>

  <div id="mobile">
    <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>

  <!-- form logout -->
  <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
    <input type="submit" value="Logout" />
  </form>
</section>