<section th:fragment="people()" id="form-details" class="section-p1">
    <div class="people">
        <div>
            <img th:src="@{/img/avatar/huy.png}" alt="" />
            <p>
                <span>Nguyễn Trần Quang Huy</span>
                Student
                <br />
                Phone: +84 37377377
                <br />
                Email: ntqhuy2k2@gmail.com
            </p>
        </div>
        <div>
            <img th:src="@{/img/avatar/bao.png}" alt="" />
            <p>
                <span>Lương Gia Bảo</span>
                Student
                <br />
                Phone: +84 37377377
                <br />
                Email: luonggiabao1310@gmail.com
            </p>
        </div>
        <div>
            <img th:src="@{/img/avatar/anh.png}" alt="" />
            <p>
                <span>Phạm Quốc Anh</span>
                Student
                <br />
                Phone: +84 37377377
                <br />
                Email: phquocanhtdtu@gmail.com
            </p>
        </div>
    </div>
</section>