<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/header.html :: header(${pageTitle})"> </head>
  <!-- more attribute -->
  <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <!-- nav bar -->
    <nav th:replace="fragments/navbar.html :: navbar()"></nav>

    <div class="container">
      <h1></h1>
      <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">Oh! 500</h4>
        <p class="mb-0">Sorry, we couldn't find the page you were looking for.</p>
      </div>
    </div>

    <footer th:replace="fragments/footer.html :: footer()"></footer>
  </body>
</html>
