<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo/logo-shop.png}">

    <title th:text="#{pet.html.title.name}"></title>
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />


    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart-style.css}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<!--nav nè-->
<section id="header">
    <a href="#">
        <img th:src="@{/img/main_logo.png}" alt="" class="logo"/>
    </a>

    <div>
        <ul id="navbar">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/search}">Search</a></li>
            <li><a class="active" th:href="@{/cart}">Cart</a></li>
            <li><a th:href="@{/about}">About</a></li>
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<!--thanh toán nè-->
<h1>Shopping Cart</h1>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
    </div>

    <div class="product">
        <div class="product-image">
            <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
        </div>
        <div class="product-details">
            <div class="product-title">Dingo Dog Bones</div>
            <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these
                things! I got curious once and ate one myself. I'm a fan.</p>
        </div>
        <div class="product-price">12.99</div>
        <div class="product-quantity">
            <input type="number" value="2" min="1">
        </div>
        <div class="product-removal">
            <button class="remove-product">
                Remove
            </button>
        </div>
        <div class="product-line-price">25.98</div>
    </div>

    <div class="product">
        <div class="product-image">
            <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
        </div>
        <div class="product-details">
            <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>
            <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart at 3am while
                quasi-blackout after a night of binge drinking in Manhattan. Now it's your dog's turn!</p>
        </div>
        <div class="product-price">45.99</div>
        <div class="product-quantity">
            <input type="number" value="1" min="1">
        </div>
        <div class="product-removal">
            <button class="remove-product">
                Remove
            </button>
        </div>
        <div class="product-line-price">45.99</div>
    </div>

    <div class="totals">
        <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>
        <div class="totals-item">
            <label>Tax (5%)</label>
            <div class="totals-value" id="cart-tax">3.60</div>
        </div>
        <div class="totals-item">
            <label>Shipping</label>
            <div class="totals-value" id="cart-shipping">15.00</div>
        </div>
        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total">90.57</div>
        </div>
    </div>

    <button class="checkout">Checkout</button>

</div>

<!--footer nè-->
<footer class="section-p1">
    <div class="col">
        <img th:src="@{/img/main_logo.png}" alt="" class="logo"/>
        <h4 th:text="#{pet.html.footer.contact.name}"></h4>
        <p>
            <strong th:text="#{pet.html.footer.contact.address}"></strong>
            <span th:text="#{pet.html.footer.contact.address.value}"></span>
        </p>
        <p>
            <strong th:text="#{pet.html.footer.contact.phone}"></strong>
            <span th:text="#{pet.html.footer.contact.phone.value}"></span>
        </p>
        <p>
            <strong th:text="#{pet.html.footer.contact.hours}"></strong>
            <span th:text="#{pet.html.footer.contact.hours.value}"></span>
        </p>
        <div class="follow">
            <h4 th:text="#{pet.html.footer.follow}"></h4>
            <div class="icon">
                <a th:href="@{https://fb.com/nguyenhuy158}">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a th:href="@{https://github.com/nguyenhuy158/}">
                    <i class="fab fa-instagram"></i>
                </a>
                <a th:href="@{https://www.youtube.com/@ntqhuy2k2}">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <h4 th:text="#{pet.html.footer.about}"></h4>
        <a href=" #">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
    </div>

    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.023524698755!2d106.69758091388026!3d10.732668892351265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbd7d343a57%3A0xb5ca26918dff0578!2zMTkgxJAuIE5ndXnhu4VuIEjhu691IFRo4buNLCBUw6JuIEjGsG5nLCBRdeG6rW4gNywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1680063686308!5m2!1sen!2s"
                width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="copyright">
        <p th:text="#{pet.html.footer.copyright}"></p>
    </div>
</footer>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>
